@model IEnumerable<Category>

@{
    Layout = "_LayoutAdmin";
    ViewData["Title"] = "Category List";
}

<table class="table">
    <div class="p-3">
        <h4>Quản lý danh mục sản phẩm</h4>
        <a asp-controller="Category" asp-action="Create" class="btn btn-primary">
            <i class="bi bi-plus-circle-fill"></i> Tạo danh mục mới
        </a>
    </div>
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Tên danh mục</th>
            <th scope="col">Mô tả danh mục</th>
            <th scope="col">Quản lý danh mục</th>
        </tr>
    </thead>
    
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@item.CategoryId</th>
                <td>@item.CategoryName</td>
                <td>@item.Description</td>
                <td scope="col">
                    <a asp-controller="Category" asp-action="Edit" asp-route-id="@item.CategoryId" class="btn btn-warning m-1">
                        <i class="bi bi-pencil-square"></i> Sửa
                    </a>
                    <a asp-controller="Category" asp-action="Delete" asp-route-id="@item.CategoryId" 
                        class="btn btn-danger m-1 confirmDeletion">
                        <i class="bi bi-trash"></i> Xóa
                    </a>
                </td>
                
            </tr>
        }
    </tbody>
</table>
